@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.hh{
          font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

 .tt{
    font-family: "Shadows Into Light", serif;
  font-weight: 400;
  font-style: normal;
 }